<a href="https://colab.research.google.com/github/UdaraN98/Data-Mining-Project/blob/main/untitled14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Upsampling the dataset to improve the accuracy of the previous RF model

In [ ]:
#importing the pre processed datasets as pandas dataframes

import pandas as pd

train = pd.read_csv("TrainV1.csv")
test = pd.read_csv("TestV1.csv")

In [ ]:
train.head(10)

,Unnamed: 0,user_id,problem_id,attempts_range,level_type,points,submission_count,problem_solved,contribution,country,...,tag_number theory,tag_probabilities,tag_schedules,tag_shortest paths,tag_sortings,tag_string suffix structures,tag_strings,tag_ternary search,tag_trees,tag_two pointers
0,0,232,6507,1,1,1000,53,47,0,5,...,0,0,0,0,0,0,1,0,0,0
1,1,232,5071,4,0,500,53,47,0,5,...,0,0,0,0,0,0,0,0,0,0
2,2,232,703,2,0,500,53,47,0,5,...,0,0,0,0,0,0,0,0,0,0
3,3,232,3935,1,2,1000,53,47,0,5,...,0,0,0,0,1,0,0,0,0,0
4,4,232,164,2,0,500,53,47,0,5,...,0,0,0,0,0,0,0,0,0,0
5,5,232,1550,2,0,1000,53,47,0,5,...,0,0,0,0,0,0,0,0,0,0
6,6,232,1304,1,0,500,53,47,0,5,...,0,0,0,0,0,0,0,0,0,0
7,7,232,5776,2,1,500,53,47,0,5,...,0,0,0,0,1,0,0,0,0,0
8,8,232,3204,2,0,500,53,47,0,5,...,0,0,0,0,0,0,0,0,0,0
9,9,232,5801,1,1,1000,53,47,0,5,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
train.drop("Unnamed: 0",axis = 1)

,user_id,problem_id,attempts_range,level_type,points,submission_count,problem_solved,contribution,country,follower_count,...,tag_number theory,tag_probabilities,tag_schedules,tag_shortest paths,tag_sortings,tag_string suffix structures,tag_strings,tag_ternary search,tag_trees,tag_two pointers
0,232,6507,1,1,1000,53,47,0,5,1,...,0,0,0,0,0,0,1,0,0,0
1,232,5071,4,0,500,53,47,0,5,1,...,0,0,0,0,0,0,0,0,0,0
2,232,703,2,0,500,53,47,0,5,1,...,0,0,0,0,0,0,0,0,0,0
3,232,3935,1,2,1000,53,47,0,5,1,...,0,0,0,0,1,0,0,0,0,0
4,232,164,2,0,500,53,47,0,5,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155290,1888,1641,3,1,1000,8,1,0,31,0,...,0,0,0,0,1,0,0,0,0,0
155291,2980,3139,1,8,500,6,5,0,31,0,...,0,0,0,0,0,0,0,0,0,0
155292,2980,5190,1,4,2500,6,5,0,31,0,...,0,0,0,0,0,0,0,0,0,0
155293,2980,895,1,2,500,6,5,0,31,0,...,0,0,0,0,0,0,0,0,0,0
155294,1904,5148,1,0,500,6,3,0,31,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
test

,Unnamed: 0,user_id,problem_id,level_type,points,submission_count,problem_solved,contribution,country,follower_count,...,tag_number theory,tag_probabilities,tag_schedules,tag_shortest paths,tag_sortings,tag_string suffix structures,tag_strings,tag_ternary search,tag_trees,tag_two pointers
0,0,856,5822,11,500,274,231,0,31,35,...,0,0,0,0,0,0,0,0,0,0
1,1,856,6173,1,1000,274,231,0,31,35,...,0,0,0,0,1,0,0,0,0,0
2,2,856,5781,0,500,274,231,0,31,35,...,0,0,0,0,0,0,0,0,0,0
3,3,856,3438,0,500,274,231,0,31,35,...,0,0,0,0,0,0,0,0,0,0
4,4,856,1868,0,500,274,231,0,31,35,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66550,66550,441,2602,0,500,7,5,0,31,0,...,0,0,0,0,0,0,0,0,0,0
66551,66551,613,2863,0,500,6,2,0,31,0,...,0,0,0,0,0,0,0,0,0,0
66552,66552,2424,4163,0,500,17,4,0,31,9,...,0,0,0,0,0,0,1,0,0,0
66553,66553,2504,2699,0,250,14,13,0,31,0,...,0,0,0,0,0,0,0,0,0,0
66554,66554,1298,4613,2,1500,4,3,0,31,0,...,1,0,0,0,0,0,0,0,0,0

In [ ]:
test.drop("Unnamed: 0",axis = 1)

,user_id,problem_id,level_type,points,submission_count,problem_solved,contribution,country,follower_count,last_online_time_seconds,...,tag_number theory,tag_probabilities,tag_schedules,tag_shortest paths,tag_sortings,tag_string suffix structures,tag_strings,tag_ternary search,tag_trees,tag_two pointers
0,856,5822,11,500,274,231,0,31,35,1503233908,...,0,0,0,0,0,0,0,0,0,0
1,856,6173,1,1000,274,231,0,31,35,1503233908,...,0,0,0,0,1,0,0,0,0,0
2,856,5781,0,500,274,231,0,31,35,1503233908,...,0,0,0,0,0,0,0,0,0,0
3,856,3438,0,500,274,231,0,31,35,1503233908,...,0,0,0,0,0,0,0,0,0,0
4,856,1868,0,500,274,231,0,31,35,1503233908,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66550,441,2602,0,500,7,5,0,31,0,1504442762,...,0,0,0,0,0,0,0,0,0,0
66551,613,2863,0,500,6,2,0,31,0,1504530777,...,0,0,0,0,0,0,0,0,0,0
66552,2424,4163,0,500,17,4,0,31,9,1493913082,...,0,0,0,0,0,0,1,0,0,0
66553,2504,2699,0,250,14,13,0,31,0,1491066820,...,0,0,0,0,0,0,0,0,0,0
66554,1298,4613,2,1500,4,3,0,31,0,1484240265,...,1,0,0,0,0,0,0,0,0,0

In [ ]:
#counting the number of elements in each class in the target classes

train["attempts_range"].value_counts()

1    82804
2    47320
3    14143
4     5499
6     3033
5     2496
Name: attempts_range, dtype: int64

In [ ]:
#partitioning the training data
y=train.attempts_range
x=train.drop('attempts_range',axis=1)

In [ ]:

#label encoding the y
from sklearn.preprocessing import LabelEncoder
y = LabelEncoder().fit_transform(y)

In [ ]:
#using SMOTE to oversampling

from imblearn.over_sampling import SMOTE

OS = SMOTE()
x,y = OS.fit_resample(x,y)

In [ ]:
#checking the number of items in each class
from collections import Counter

cnt = Counter(y)
print(cnt)

Counter({0: 82804, 3: 82804, 1: 82804, 2: 82804, 5: 82804, 4: 82804})

In [ ]:
#As the dataset is balanced, model inititiation and training

from sklearn.ensemble import RandomForestClassifier

model0 = RandomForestClassifier(max_depth = 24, random_state = 0)
model0.fit(x, y)

RandomForestClassifier(max_depth=24, random_state=0)

In [ ]:
#predintion on train dataset
pred0  = model0.predict(x)
#checking the F1 score of the model

from sklearn.metrics import f1_score, accuracy_score

f1 =f1_score(y,pred0, average = "weighted")

acc =accuracy_score(y, pred0)

print("Accuracy:" ,acc)
print("F1 :",f1)

Accuracy: 0.9053105325024556
F1 : 0.9047502586346102

Creating a Gradient Boosted Tree algorithm as a candidate model

In [ ]:
from xgboost import XGBClassifier

GBmodel = XGBClassifier(use_label_encoder=False, eval_metric='mlogloss', max_depth= 10)

GBmodel.fit(x, y)

XGBClassifier(eval_metric='mlogloss', max_depth=10, objective='multi:softprob',
              use_label_encoder=False)

In [ ]:
pred1 = GBmodel.predict(x)

In [ ]:
#checking the F1 score of the model

from sklearn.metrics import f1_score, accuracy_score

f1 =f1_score(y,pred1, average = "weighted")

acc =accuracy_score(y, pred1)

print("Accuracy:" ,acc)
print("F1 :",f1)

Accuracy: 0.3593888378983302
F1 : 0.3383753207015529